<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDAO</servlet-name>
        <servlet-class>controller.StudentDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>controller.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>controller.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollmentServlet</servlet-name>
        <servlet-class>controller.EnrollmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>controller.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEnrolledCoursesServlet</servlet-name>
        <servlet-class>controller.GetEnrolledCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportStudentCSVServlet</servlet-name>
        <servlet-class>controller.ExportStudentCSVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportStudentPDFServlet</servlet-name>
        <servlet-class>controller.ExportStudentPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollmentChartServlet</servlet-name>
        <servlet-class>controller.EnrollmentChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollmentPieChartServlet</servlet-name>
        <servlet-class>controller.EnrollmentPieChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>controller.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <servlet-class>controller.UpdateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>controller.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseServlet</servlet-name>
        <servlet-class>controller.EditCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDAO</servlet-name>
        <url-pattern>/StudentDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollmentServlet</servlet-name>
        <url-pattern>/EnrollmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEnrolledCoursesServlet</servlet-name>
        <url-pattern>/GetEnrolledCoursesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportStudentCSVServlet</servlet-name>
        <url-pattern>/export-students.csv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportStudentPDFServlet</servlet-name>
        <url-pattern>/export-students.pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollmentChartServlet</servlet-name>
        <url-pattern>/enrollment-chart.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollmentPieChartServlet</servlet-name>
        <url-pattern>/enrollment-pie-chart.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <url-pattern>/UpdateCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/DeleteCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseServlet</servlet-name>
        <url-pattern>/EditCourseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
